# Kaggle Competition

## Import libraries

In [3]:
%matplotlib inline

import pandas as pd
import numpy as np
import warnings
import pylab as plt
import seaborn as sns
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
import kaggle

1. EDA
2. Transformar datos
3. Train test split
    1. Evaluar, calcular RMSE
4. Modelar
5. Reentrenar con todos los datos (salaries, sin train test split)
6. Predicción y subida
7. Comparar Public Kaggle con los resultados del train test split

## Import data

In [6]:
%cd D:\IRONHACK\labs_projects\Projects\Kaggle-Data-Science-Predictor\data

D:\IRONHACK\labs_projects\Projects\Kaggle-Data-Science-Predictor\data

In [3]:
!kaggle competitions download -c predict-the-salary-for-data-science-jobs

Downloading predict-the-salary-for-data-science-jobs.zip to D:\IRONHACK\labs_projects\Projects\Kaggle-Data-Science-Predictor\data

El sistema no puede encontrar la ruta especificada.

  0%|          | 0.00/7.58k [00:00<?, ?B/s]
100%|##########| 7.58k/7.58k [00:00<00:00, 7.74MB/s]

In [4]:
import shutil
shutil.unpack_archive('predict-the-salary-for-data-science-jobs.zip', 'D:\IRONHACK\labs_projects\Projects\Kaggle-Data-Science-Predictor\data\old_data')

In [7]:
%cd ..

D:\IRONHACK\labs_projects\Projects\Kaggle-Data-Science-Predictor

### 1. EDA

- salaries_data.csv

 + se puede borrar columnas, filas, etc
 + entrenar (X/Y)
 + x train / x split

- test.csv

 + NO se borran **FILAS**

In [442]:
salaries= pd.read_csv('data/old_data/salaries_data.csv')

test = pd.read_csv('data/old_data/test.csv')

### Salaries

In [443]:
salaries.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250,USD,140250,US,100,US,M
1,2022,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000,USD,100000,US,100,US,M
3,2021,MI,CT,ML Engineer,270000,USD,270000,US,100,US,L
4,2021,MI,FT,Data Engineer,22000,EUR,26005,RO,0,US,L

In [444]:
salaries.shape

(500, 11)

In [445]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           500 non-null    int64
 1   experience_level    500 non-null    object
 2   employment_type     500 non-null    object
 3   job_title           500 non-null    object
 4   salary              500 non-null    int64
 5   salary_currency     500 non-null    object
 6   salary_in_usd       500 non-null    int64
 7   employee_residence  500 non-null    object
 8   remote_ratio        500 non-null    int64
 9   company_location    500 non-null    object
 10  company_size        500 non-null    object
dtypes: int64(4), object(7)
memory usage: 43.1+ KB

In [446]:
corr = salaries.corr()
corr.style.background_gradient(cmap='coolwarm')

In [149]:
salaries.work_year.value_counts()

2022    263
2021    181
2020     56
Name: work_year, dtype: int64

In [150]:
salaries.experience_level.value_counts()

SE    243
MI    172
EN     65
EX     20
Name: experience_level, dtype: int64

In [151]:
salaries.employment_type.value_counts()

FT    484
PT      8
CT      4
FL      4
Name: employment_type, dtype: int64

In [152]:
salaries.salary_currency.value_counts()

USD    329
EUR     78
GBP     38
INR     23
CAD     16
JPY      3
TRY      3
AUD      2
PLN      2
MXN      1
CHF      1
CLP      1
BRL      1
HUF      1
SGD      1
Name: salary_currency, dtype: int64

In [153]:
salaries.remote_ratio.value_counts()

100    320
0      102
50      78
Name: remote_ratio, dtype: int64

In [154]:
salaries.company_location.value_counts()

US    296
GB     41
CA     25
DE     23
IN     19
FR     12
ES     12
GR     10
JP      4
NL      4
PT      4
LU      3
AE      3
AT      3
PL      3
PK      3
TR      3
CH      2
AU      2
BR      2
NG      2
SI      2
BE      2
MT      1
IR      1
DZ      1
HU      1
CZ      1
HN      1
RO      1
CL      1
EE      1
UA      1
NZ      1
DK      1
CN      1
KE      1
VN      1
MX      1
IE      1
AS      1
MD      1
SG      1
Name: company_location, dtype: int64

In [155]:
salaries.company_size.value_counts()

M    273
L    165
S     62
Name: company_size, dtype: int64

In [321]:
salaries.drop_duplicates(keep=False,inplace=True)

In [322]:
nan_cols=salaries.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

+ Se quitan los duplicados
+ No hay nulos
+ SOLO HAY QUE SELECCIONAR LOS QUE SEAN SALARY USD

In [323]:
salaries.drop('salary', inplace=True,axis=1)

In [160]:
salaries.shape

(443, 10)

In [161]:
salaries.to_csv(path_or_buf='data/model_data/salaries.csv', sep=',')

In [162]:
salaries.work_year.value_counts()

2022    210
2021    177
2020     56
Name: work_year, dtype: int64

In [163]:
salaries.job_title.value_counts()

Data Scientist                              104
Data Engineer                                95
Data Analyst                                 61
Machine Learning Engineer                    29
Data Science Manager                         12
Research Scientist                           12
Data Architect                                8
Machine Learning Scientist                    7
Data Analytics Manager                        7
Big Data Engineer                             7
Director of Data Science                      7
ML Engineer                                   6
Lead Data Engineer                            6
Principal Data Scientist                      6
Applied Data Scientist                        5
Data Science Consultant                       5
AI Scientist                                  5
BI Data Analyst                               5
Data Engineering Manager                      5
Computer Vision Engineer                      4
Business Data Analyst                         4
Head of Data                                  4
Applied Machine Learning Scientist            3
Analytics Engineer                            3
Lead Data Scientist                           3
Machine Learning Infrastructure Engineer      2
Machine Learning Developer                    2
Data Analytics Engineer                       2
Head of Data Science                          2
Lead Data Analyst                             2
Cloud Data Engineer                           2
Data Science Engineer                         2
Director of Data Engineering                  2
Staff Data Scientist                          1
Head of Machine Learning                      1
Finance Data Analyst                          1
Financial Data Analyst                        1
Data Analytics Lead                           1
Marketing Data Analyst                        1
Product Data Analyst                          1
Big Data Architect                            1
Lead Machine Learning Engineer                1
Machine Learning Manager                      1
3D Computer Vision Researcher                 1
Principal Data Analyst                        1
Data Specialist                               1
Computer Vision Software Engineer             1
Name: job_title, dtype: int64

In [164]:
salaries.experience_level.value_counts()

SE    194
MI    164
EN     65
EX     20
Name: experience_level, dtype: int64

In [165]:
salaries.employment_type.value_counts()

FT    427
PT      8
CT      4
FL      4
Name: employment_type, dtype: int64

In [166]:
salaries.remote_ratio.value_counts()

100    273
0       94
50      76
Name: remote_ratio, dtype: int64

In [167]:
salaries.company_location.value_counts()

US    249
GB     39
DE     21
CA     21
IN     19
FR     12
ES     12
GR      8
JP      4
NL      4
PT      4
LU      3
AE      3
AT      3
PL      3
PK      3
TR      3
CH      2
AU      2
BR      2
NG      2
SI      2
BE      2
MT      1
IR      1
DZ      1
HU      1
CZ      1
HN      1
RO      1
CL      1
EE      1
UA      1
NZ      1
DK      1
CN      1
KE      1
VN      1
MX      1
IE      1
AS      1
MD      1
SG      1
Name: company_location, dtype: int64

In [168]:
salaries.employee_residence.value_counts()

US    231
GB     36
IN     25
CA     20
DE     17
FR     14
ES     13
GR      9
PK      6
PT      6
BR      5
NL      4
JP      4
VN      3
PL      3
AT      3
TR      3
AE      3
RO      2
BE      2
NG      2
AU      2
RU      2
IT      2
SI      2
MY      1
BO      1
HN      1
IE      1
MT      1
HU      1
RS      1
MD      1
IR      1
LU      1
DZ      1
MX      1
PR      1
CZ      1
EE      1
HK      1
BG      1
UA      1
NZ      1
JE      1
CL      1
CH      1
KE      1
SG      1
Name: employee_residence, dtype: int64

------------------------------------------

### Test Data

In [447]:
test.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,employee_residence,remote_ratio,company_location,company_size
0,2020,SE,FT,Machine Learning Scientist,260000,USD,JP,0,JP,S
1,2020,MI,FT,Lead Data Analyst,87000,USD,US,100,US,L
2,2020,MI,FT,Data Analyst,85000,USD,US,100,US,L
3,2020,MI,FT,Machine Learning Engineer,299000,CNY,CN,0,CN,M
4,2020,MI,FT,Product Data Analyst,450000,INR,IN,100,IN,L

In [448]:
test.shape

(107, 10)

In [449]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           107 non-null    int64
 1   experience_level    107 non-null    object
 2   employment_type     107 non-null    object
 3   job_title           107 non-null    object
 4   salary              107 non-null    int64
 5   salary_currency     107 non-null    object
 6   employee_residence  107 non-null    object
 7   remote_ratio        107 non-null    int64
 8   company_location    107 non-null    object
 9   company_size        107 non-null    object
dtypes: int64(3), object(7)
memory usage: 8.5+ KB

In [450]:
corr = test.corr()
corr.style.background_gradient(cmap='coolwarm')

In [324]:
nan_cols=test.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [325]:
test.drop('salary_currency', inplace=True,axis=1)

In [326]:
test.drop('salary', inplace=True,axis=1)

In [50]:
test.work_year.value_counts()

2022    55
2021    36
2020    16
Name: work_year, dtype: int64

In [71]:
test.experience_level.value_counts()

MI    41
SE    37
EN    23
EX     6
Name: experience_level, dtype: int64

In [52]:
test.employment_type.value_counts()

FT    104
PT      2
CT      1
Name: employment_type, dtype: int64

In [53]:
test.job_title.value_counts()

Data Scientist                              22
Data Engineer                               21
Data Analyst                                16
Machine Learning Engineer                   10
Research Scientist                           4
Data Architect                               3
Principal Data Engineer                      3
Computer Vision Software Engineer            2
Head of Data Science                         2
Computer Vision Engineer                     2
Data Science Consultant                      2
Data Analytics Engineer                      2
AI Scientist                                 2
Applied Machine Learning Scientist           1
Financial Data Analyst                       1
Business Data Analyst                        1
NLP Engineer                                 1
Principal Data Analyst                       1
Data Science Engineer                        1
Machine Learning Scientist                   1
Machine Learning Developer                   1
Big Data Engineer                            1
Machine Learning Infrastructure Engineer     1
Head of Data                                 1
Principal Data Scientist                     1
Lead Data Analyst                            1
BI Data Analyst                              1
Product Data Analyst                         1
Analytics Engineer                           1
Name: job_title, dtype: int64

In [55]:
test.remote_ratio.value_counts()

100    61
0      25
50     21
Name: remote_ratio, dtype: int64

In [56]:
test.company_location.value_counts()

US    59
GB     6
IN     5
DE     5
CA     5
FR     3
JP     2
ES     2
MX     2
DK     2
IT     2
RU     2
CZ     1
PL     1
BR     1
MY     1
GR     1
IQ     1
AT     1
CO     1
IL     1
HR     1
CN     1
AU     1
Name: company_location, dtype: int64

In [57]:
test.company_size.value_counts()

M    53
L    33
S    21
Name: company_size, dtype: int64

### Comparar columnas para ver qué valores faltan

In [198]:
def comparison(col_salarios, col_test):
    salaries_set_len = len(set(salaries[col_salarios]))
    test_set = len(set(test[col_test]))
    salarios_lista= list(set(salaries[col_salarios]))
    test_lista = list(set(test[col_test]))
    return  list(set(salaries[col_salarios])-set(test[col_test])), salaries_set_len, test_set

In [176]:
comparison('experience_level', 'experience_level')

([], 4, 4, ['EX', 'MI', 'SE', 'EN'], ['EX', 'MI', 'SE', 'EN'])

In [177]:
comparison('employment_type', 'employment_type') #Falta en TEST

(['FL'], 4, 3, ['CT', 'FL', 'PT', 'FT'], ['PT', 'FT', 'CT'])

In [100]:
 comparison('job_title', 'job_title')

(['Finance Data Analyst',
  'Marketing Data Analyst',
  'Staff Data Scientist',
  'Lead Machine Learning Engineer',
  'Head of Machine Learning',
  'Director of Data Engineering',
  'Data Science Manager',
  'Data Engineering Manager',
  '3D Computer Vision Researcher',
  'Director of Data Science',
  'Data Analytics Manager',
  'Applied Data Scientist',
  'Data Specialist',
  'Data Analytics Lead',
  'Big Data Architect',
  'ML Engineer',
  'Lead Data Engineer',
  'Cloud Data Engineer',
  'Machine Learning Manager',
  'Lead Data Scientist'],
 47,
 29)

In [107]:
comparison('remote_ratio', 'remote_ratio')

([], 3, 3)

In [109]:
comparison('company_location', 'company_location')

(['PT',
  'SI',
  'PK',
  'NG',
  'HU',
  'SG',
  'CH',
  'DZ',
  'NL',
  'TR',
  'NZ',
  'IE',
  'KE',
  'RO',
  'AE',
  'HN',
  'AS',
  'UA',
  'VN',
  'MD',
  'LU',
  'EE',
  'CL',
  'BE',
  'MT',
  'IR'],
 43,
 24)

In [178]:
comparison('company_size', 'company_size')

([], 3, 3, ['S', 'M', 'L'], ['S', 'M', 'L'])

In [199]:
comparison('employee_residence', 'employee_residence')

(['PT',
  'SI',
  'PK',
  'NG',
  'CZ',
  'CH',
  'DZ',
  'RS',
  'BO',
  'TR',
  'BG',
  'NZ',
  'IE',
  'KE',
  'RO',
  'MY',
  'PR',
  'AE',
  'HN',
  'UA',
  'VN',
  'MD',
  'EE',
  'LU',
  'HK',
  'CL',
  'BE',
  'JE',
  'MT',
  'IR',
  'AT'],
 49,
 26)

## Valores unicos para las diferentes columnas (crear diccionario)

In [246]:
def crear_dictios(columna_comparacion):
    lista = list(set(list(salaries[columna_comparacion].unique()) + list(test[columna_comparacion].unique())))
    num_list =[i for i in range(len(lista))]
    return {(lista[i]): (num_list[i]) for i in range(len(lista))}

In [250]:
dictio_job_title = crear_dictios('job_title')
dictio_employment_type = crear_dictios('employment_type')
dictio_company_location = crear_dictios('company_location')
dictio_employee_residence = crear_dictios('employee_residence')

## PREPARACION DATOS MODELO

eliminar columna salary_in_usd de test. Crear una columna q se llame y con valores igual a -1. Concatenar salaries y test. Hacer las transformaciones y volver a separarlos

In [441]:
salaries.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary_in_usd', 'employee_residence', 'remote_ratio',
       'company_location', 'company_size'],
      dtype='object')

In [328]:
salaries.shape

(443, 10)

In [329]:
salaries.drop('salary_currency',inplace=True, axis=1)

eliminar columna salary_in_usd de test. Crear una columna q se llame y con valores igual a -1. Concatenar salaries y test. Hacer las transformaciones y volver a separarlos

test.drop(['salary', 'salary_currency'])

In [331]:
test.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'employee_residence', 'remote_ratio', 'company_location',
       'company_size'],
      dtype='object')

In [332]:
test['y'] = -1

In [333]:
test.shape

(107, 9)

In [334]:
todo = pd.concat([salaries, test])

In [336]:
todo.shape

(550, 10)

In [335]:
todo.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary_in_usd', 'employee_residence', 'remote_ratio',
       'company_location', 'company_size', 'y'],
      dtype='object')

In [337]:
todo.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,y
0,2022,SE,FT,Data Engineer,140250.0,US,100,US,M,NaN
1,2022,SE,FT,Data Engineer,135000.0,US,100,US,M,NaN
2,2021,MI,FT,BI Data Analyst,100000.0,US,100,US,M,NaN
3,2021,MI,CT,ML Engineer,270000.0,US,100,US,L,NaN
4,2021,MI,FT,Data Engineer,26005.0,RO,0,US,L,NaN

### Transformar con get dummies

In [394]:
X=pd.get_dummies(todo, columns=['employment_type','experience_level', 'job_title', 'employee_residence', 'company_location', 'company_size'], drop_first=True)

In [395]:
salaries_X = X.loc[X['y'] != -1]

In [396]:
salaries_X.shape

(443, 165)

In [397]:
test_X = X.loc[X['y'] == -1]

In [398]:
test_X.shape

(107, 165)

In [429]:
test_X = test_X.drop('salary_in_usd', axis=1)

In [431]:
test_X = test_X.drop('y', axis=1)

In [432]:
test_X

,work_year,remote_ratio,employment_type_FL,employment_type_FT,employment_type_PT,experience_level_EX,experience_level_MI,experience_level_SE,job_title_AI Scientist,job_title_Analytics Engineer,job_title_Applied Data Scientist,job_title_Applied Machine Learning Scientist,job_title_BI Data Analyst,job_title_Big Data Architect,job_title_Big Data Engineer,job_title_Business Data Analyst,job_title_Cloud Data Engineer,job_title_Computer Vision Engineer,job_title_Computer Vision Software Engineer,job_title_Data Analyst,job_title_Data Analytics Engineer,job_title_Data Analytics Lead,job_title_Data Analytics Manager,job_title_Data Architect,job_title_Data Engineer,job_title_Data Engineering Manager,job_title_Data Science Consultant,job_title_Data Science Engineer,job_title_Data Science Manager,job_title_Data Scientist,job_title_Data Specialist,job_title_Director of Data Engineering,job_title_Director of Data Science,job_title_Finance Data Analyst,job_title_Financial Data Analyst,job_title_Head of Data,job_title_Head of Data Science,job_title_Head of Machine Learning,job_title_Lead Data Analyst,job_title_Lead Data Engineer,job_title_Lead Data Scientist,job_title_Lead Machine Learning Engineer,job_title_ML Engineer,job_title_Machine Learning Developer,job_title_Machine Learning Engineer,job_title_Machine Learning Infrastructure Engineer,job_title_Machine Learning Manager,job_title_Machine Learning Scientist,job_title_Marketing Data Analyst,job_title_NLP Engineer,job_title_Principal Data Analyst,job_title_Principal Data Engineer,job_title_Principal Data Scientist,job_title_Product Data Analyst,job_title_Research Scientist,job_title_Staff Data Scientist,employee_residence_AR,employee_residence_AT,employee_residence_AU,employee_residence_BE,employee_residence_BG,employee_residence_BO,employee_residence_BR,employee_residence_CA,employee_residence_CH,employee_residence_CL,employee_residence_CN,employee_residence_CO,employee_residence_CZ,employee_residence_DE,employee_residence_DK,employee_residence_DZ,employee_residence_EE,employee_residence_ES,employee_residence_FR,employee_residence_GB,employee_residence_GR,employee_residence_HK,employee_residence_HN,employee_residence_HR,employee_residence_HU,employee_residence_IE,employee_residence_IN,employee_residence_IQ,employee_residence_IR,employee_residence_IT,employee_residence_JE,employee_residence_JP,employee_residence_KE,employee_residence_LU,employee_residence_MD,employee_residence_MT,employee_residence_MX,employee_residence_MY,employee_residence_NG,employee_residence_NL,employee_residence_NZ,employee_residence_PH,employee_residence_PK,employee_residence_PL,employee_residence_PR,employee_residence_PT,employee_residence_RO,employee_residence_RS,employee_residence_RU,employee_residence_SG,employee_residence_SI,employee_residence_TN,employee_residence_TR,employee_residence_UA,employee_residence_US,employee_residence_VN,company_location_AS,company_location_AT,company_location_AU,company_location_BE,company_location_BR,company_location_CA,company_location_CH,company_location_CL,company_location_CN,company_location_CO,company_location_CZ,company_location_DE,company_location_DK,company_location_DZ,company_location_EE,company_location_ES,company_location_FR,company_location_GB,company_location_GR,company_location_HN,company_location_HR,company_location_HU,company_location_IE,company_location_IL,company_location_IN,company_location_IQ,company_location_IR,company_location_IT,company_location_JP,company_location_KE,company_location_LU,company_location_MD,company_location_MT,company_location_MX,company_location_MY,company_location_NG,company_location_NL,company_location_NZ,company_location_PK,company_location_PL,company_location_PT,company_location_RO,company_location_RU,company_location_SG,company_location_SI,company_location_TR,company_location_UA,company_location_US,company_location_VN,company_size_M,company_size_S
0,2020,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,2020,100,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,2020,100,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,2020,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,2020,100,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,2022,100,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
103,2022,100,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
104,2022,100,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
105,2022,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
106,2022,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0

In [399]:
salaries_X.drop('y', inplace=True,axis=1)

In [400]:
salaries_X.shape

(443, 164)

### Prueba H20 -- test1907.csv

In [316]:
import h2o
from h2o.automl import H2OAutoML

In [317]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.251-b08, mixed mode)
  Starting server from D:\Programas\Miniconda3\envs\kaggle\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\IRENEA~1\AppData\Local\Temp\tmpi9o6m48s
  JVM stdout: C:\Users\IRENEA~1\AppData\Local\Temp\tmpi9o6m48s\h2o_iaguerri_started_from_python.out
  JVM stderr: C:\Users\IRENEA~1\AppData\Local\Temp\tmpi9o6m48s\h2o_iaguerri_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  -------------------------------
H2O_cluster_uptime:         06 secs
H2O_cluster_timezone:       Europe/Paris
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.3
H2O_cluster_version_age:    11 days
H2O_cluster_name:           H2O_from_python_iaguerri_ounpsj
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.533 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.10.0 final
--------------------------  -------------------------------

In [347]:
h2train=h2o.H2OFrame(salaries_X)
h2test=h2o.H2OFrame(test_X)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [348]:
h2train.columns

['work_year',
 'employment_type',
 'salary_in_usd',
 'remote_ratio',
 'experience_level_EX',
 'experience_level_MI',
 'experience_level_SE',
 'job_title_AI Scientist',
 'job_title_Analytics Engineer',
 'job_title_Applied Data Scientist',
 'job_title_Applied Machine Learning Scientist',
 'job_title_BI Data Analyst',
 'job_title_Big Data Architect',
 'job_title_Big Data Engineer',
 'job_title_Business Data Analyst',
 'job_title_Cloud Data Engineer',
 'job_title_Computer Vision Engineer',
 'job_title_Computer Vision Software Engineer',
 'job_title_Data Analyst',
 'job_title_Data Analytics Engineer',
 'job_title_Data Analytics Lead',
 'job_title_Data Analytics Manager',
 'job_title_Data Architect',
 'job_title_Data Engineer',
 'job_title_Data Engineering Manager',
 'job_title_Data Science Consultant',
 'job_title_Data Science Engineer',
 'job_title_Data Science Manager',
 'job_title_Data Scientist',
 'job_title_Data Specialist',
 'job_title_Director of Data Engineering',
 'job_title_Director of Data Science',
 'job_title_Finance Data Analyst',
 'job_title_Financial Data Analyst',
 'job_title_Head of Data',
 'job_title_Head of Data Science',
 'job_title_Head of Machine Learning',
 'job_title_Lead Data Analyst',
 'job_title_Lead Data Engineer',
 'job_title_Lead Data Scientist',
 'job_title_Lead Machine Learning Engineer',
 'job_title_ML Engineer',
 'job_title_Machine Learning Developer',
 'job_title_Machine Learning Engineer',
 'job_title_Machine Learning Infrastructure Engineer',
 'job_title_Machine Learning Manager',
 'job_title_Machine Learning Scientist',
 'job_title_Marketing Data Analyst',
 'job_title_NLP Engineer',
 'job_title_Principal Data Analyst',
 'job_title_Principal Data Engineer',
 'job_title_Principal Data Scientist',
 'job_title_Product Data Analyst',
 'job_title_Research Scientist',
 'job_title_Staff Data Scientist',
 'employee_residence_AR',
 'employee_residence_AT',
 'employee_residence_AU',
 'employee_residence_BE',
 'employee_residence_BG',
 'employee_residence_BO',
 'employee_residence_BR',
 'employee_residence_CA',
 'employee_residence_CH',
 'employee_residence_CL',
 'employee_residence_CN',
 'employee_residence_CO',
 'employee_residence_CZ',
 'employee_residence_DE',
 'employee_residence_DK',
 'employee_residence_DZ',
 'employee_residence_EE',
 'employee_residence_ES',
 'employee_residence_FR',
 'employee_residence_GB',
 'employee_residence_GR',
 'employee_residence_HK',
 'employee_residence_HN',
 'employee_residence_HR',
 'employee_residence_HU',
 'employee_residence_IE',
 'employee_residence_IN',
 'employee_residence_IQ',
 'employee_residence_IR',
 'employee_residence_IT',
 'employee_residence_JE',
 'employee_residence_JP',
 'employee_residence_KE',
 'employee_residence_LU',
 'employee_residence_MD',
 'employee_residence_MT',
 'employee_residence_MX',
 'employee_residence_MY',
 'employee_residence_NG',
 'employee_residence_NL',
 'employee_residence_NZ',
 'employee_residence_PH',
 'employee_residence_PK',
 'employee_residence_PL',
 'employee_residence_PR',
 'employee_residence_PT',
 'employee_residence_RO',
 'employee_residence_RS',
 'employee_residence_RU',
 'employee_residence_SG',
 'employee_residence_SI',
 'employee_residence_TN',
 'employee_residence_TR',
 'employee_residence_UA',
 'employee_residence_US',
 'employee_residence_VN',
 'company_location_AS',
 'company_location_AT',
 'company_location_AU',
 'company_location_BE',
 'company_location_BR',
 'company_location_CA',
 'company_location_CH',
 'company_location_CL',
 'company_location_CN',
 'company_location_CO',
 'company_location_CZ',
 'company_location_DE',
 'company_location_DK',
 'company_location_DZ',
 'company_location_EE',
 'company_location_ES',
 'company_location_FR',
 'company_location_GB',
 'company_location_GR',
 'company_location_HN',
 'company_location_HR',
 'company_location_HU',
 'company_location_IE',
 'company_location_IL',
 'company_location_IN',
 'company_location_IQ',
 'company_location_IR',
 'company_location_IT',
 'company_location_JP',
 'company_location_KE',
 'company_location_LU',
 'company_location_MD',
 'company_location_MT',
 'company_location_MX',
 'company_location_MY',
 'company_location_NG',
 'company_location_NL',
 'company_location_NZ',
 'company_location_PK',
 'company_location_PL',
 'company_location_PT',
 'company_location_RO',
 'company_location_RU',
 'company_location_SG',
 'company_location_SI',
 'company_location_TR',
 'company_location_UA',
 'company_location_US',
 'company_location_VN',
 'company_size_M',
 'company_size_S']

In [352]:
X=[c for c in h2train.columns if c!='salary_in_usd']

y='salary_in_usd'

['work_year',
 'employment_type',
 'remote_ratio',
 'experience_level_EX',
 'experience_level_MI',
 'experience_level_SE',
 'job_title_AI Scientist',
 'job_title_Analytics Engineer',
 'job_title_Applied Data Scientist',
 'job_title_Applied Machine Learning Scientist',
 'job_title_BI Data Analyst',
 'job_title_Big Data Architect',
 'job_title_Big Data Engineer',
 'job_title_Business Data Analyst',
 'job_title_Cloud Data Engineer',
 'job_title_Computer Vision Engineer',
 'job_title_Computer Vision Software Engineer',
 'job_title_Data Analyst',
 'job_title_Data Analytics Engineer',
 'job_title_Data Analytics Lead',
 'job_title_Data Analytics Manager',
 'job_title_Data Architect',
 'job_title_Data Engineer',
 'job_title_Data Engineering Manager',
 'job_title_Data Science Consultant',
 'job_title_Data Science Engineer',
 'job_title_Data Science Manager',
 'job_title_Data Scientist',
 'job_title_Data Specialist',
 'job_title_Director of Data Engineering',
 'job_title_Director of Data Science',
 'job_title_Finance Data Analyst',
 'job_title_Financial Data Analyst',
 'job_title_Head of Data',
 'job_title_Head of Data Science',
 'job_title_Head of Machine Learning',
 'job_title_Lead Data Analyst',
 'job_title_Lead Data Engineer',
 'job_title_Lead Data Scientist',
 'job_title_Lead Machine Learning Engineer',
 'job_title_ML Engineer',
 'job_title_Machine Learning Developer',
 'job_title_Machine Learning Engineer',
 'job_title_Machine Learning Infrastructure Engineer',
 'job_title_Machine Learning Manager',
 'job_title_Machine Learning Scientist',
 'job_title_Marketing Data Analyst',
 'job_title_NLP Engineer',
 'job_title_Principal Data Analyst',
 'job_title_Principal Data Engineer',
 'job_title_Principal Data Scientist',
 'job_title_Product Data Analyst',
 'job_title_Research Scientist',
 'job_title_Staff Data Scientist',
 'employee_residence_AR',
 'employee_residence_AT',
 'employee_residence_AU',
 'employee_residence_BE',
 'employee_residence_BG',
 'employee_residence_BO',
 'employee_residence_BR',
 'employee_residence_CA',
 'employee_residence_CH',
 'employee_residence_CL',
 'employee_residence_CN',
 'employee_residence_CO',
 'employee_residence_CZ',
 'employee_residence_DE',
 'employee_residence_DK',
 'employee_residence_DZ',
 'employee_residence_EE',
 'employee_residence_ES',
 'employee_residence_FR',
 'employee_residence_GB',
 'employee_residence_GR',
 'employee_residence_HK',
 'employee_residence_HN',
 'employee_residence_HR',
 'employee_residence_HU',
 'employee_residence_IE',
 'employee_residence_IN',
 'employee_residence_IQ',
 'employee_residence_IR',
 'employee_residence_IT',
 'employee_residence_JE',
 'employee_residence_JP',
 'employee_residence_KE',
 'employee_residence_LU',
 'employee_residence_MD',
 'employee_residence_MT',
 'employee_residence_MX',
 'employee_residence_MY',
 'employee_residence_NG',
 'employee_residence_NL',
 'employee_residence_NZ',
 'employee_residence_PH',
 'employee_residence_PK',
 'employee_residence_PL',
 'employee_residence_PR',
 'employee_residence_PT',
 'employee_residence_RO',
 'employee_residence_RS',
 'employee_residence_RU',
 'employee_residence_SG',
 'employee_residence_SI',
 'employee_residence_TN',
 'employee_residence_TR',
 'employee_residence_UA',
 'employee_residence_US',
 'employee_residence_VN',
 'company_location_AS',
 'company_location_AT',
 'company_location_AU',
 'company_location_BE',
 'company_location_BR',
 'company_location_CA',
 'company_location_CH',
 'company_location_CL',
 'company_location_CN',
 'company_location_CO',
 'company_location_CZ',
 'company_location_DE',
 'company_location_DK',
 'company_location_DZ',
 'company_location_EE',
 'company_location_ES',
 'company_location_FR',
 'company_location_GB',
 'company_location_GR',
 'company_location_HN',
 'company_location_HR',
 'company_location_HU',
 'company_location_IE',
 'company_location_IL',
 'company_location_IN',
 'company_location_IQ',
 'company_location_IR',
 'company_location_IT',
 'company_location_JP',
 'company_location_KE',
 'company_location_LU',
 'company_location_MD',
 'company_location_MT',
 'company_location_MX',
 'company_location_MY',
 'company_location_NG',
 'company_location_NL',
 'company_location_NZ',
 'company_location_PK',
 'company_location_PL',
 'company_location_PT',
 'company_location_RO',
 'company_location_RU',
 'company_location_SG',
 'company_location_SI',
 'company_location_TR',
 'company_location_UA',
 'company_location_US',
 'company_location_VN',
 'company_size_M',
 'company_size_S']

In [350]:
automl=H2OAutoML(max_models=50,
                 seed=42,   # random_state
                 max_runtime_secs=300,
                 sort_metric='RMSE')

In [353]:
# entrena
automl.train(x=X,
             y=y,
             training_frame=h2train)

AutoML progress: |
18:04:20.632: AutoML: XGBoost is not available; skipping it.
18:04:20.700: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]
18:04:21.354: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]
18:04:22.108: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]
18:04:23.794: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]
18:04:24.547: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]
18:04:25.221: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]
18:04:25.925: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]
18:04:26.622: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]
18:04:27.178: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]
18:08:44.483: New models will be added to existing leaderboard AutoML_1_20220719_180420@@salary_in_usd (leaderboard frame=null) with already 29 models.
18:08:44.484: AutoML: XGBoost is not available; skipping it.
18:08:44.487: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]
18:08:44.658: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]


18:08:44.910: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]

██
18:08:45.911: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]

█
18:08:46.458: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]

██
18:08:47.20: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]
18:08:47.559: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]

██
18:08:48.115: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]

██
18:08:48.524: _train param, Dropping bad and constant columns: [employee_residence_PH, company_location_CO, company_location_MY, company_location_IT, employee_residence_TN, company_location_HR, company_location_IQ, employee_residence_AR, company_location_IL, company_location_RU, job_title_NLP Engineer, employee_residence_DK, employee_residence_IQ, employee_residence_CN, job_title_Principal Data Engineer, employee_residence_HR, employee_residence_CO]

██████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_9_AutoML_2_20220719_180844


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,39.0,39.0,13017.0,6.0,10.0,8.48718,17.0,25.0,21.692308

ModelMetricsRegression: gbm
** Reported on train data. **

MSE: 1795491910.7123482
RMSE: 42373.2452228095
MAE: 28572.651772802623
RMSLE: 0.4492813087539569
Mean Residual Deviance: 1795491910.7123482

ModelMetricsRegression: gbm
** Reported on cross-validation data. **

MSE: 2574909397.7220583
RMSE: 50743.565086836956
MAE: 34589.990561922015
RMSLE: 0.5482800750983664
Mean Residual Deviance: 2574909397.7220583

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,mae,3.481893e+04,3.467777e+03,3.545249e+04,3.194815e+04,3.916911e+04,3.073733e+04,3.678760e+04
1,mean_residual_deviance,2.600478e+09,6.208767e+08,2.907371e+09,2.694668e+09,2.957417e+09,1.505858e+09,2.937076e+09
2,mse,2.600478e+09,6.208767e+08,2.907371e+09,2.694668e+09,2.957417e+09,1.505858e+09,2.937076e+09
3,r2,4.902614e-01,8.733411e-02,5.177925e-01,4.315263e-01,4.083491e-01,6.280413e-01,4.655979e-01
4,residual_deviance,2.600478e+09,6.208767e+08,2.907371e+09,2.694668e+09,2.957417e+09,1.505858e+09,2.937076e+09
5,rmse,5.064252e+04,6.690857e+03,5.392004e+04,5.191019e+04,5.438214e+04,3.880539e+04,5.419480e+04
6,rmsle,5.392249e-01,8.037306e-02,6.250113e-01,4.902559e-01,4.355513e-01,5.332899e-01,6.120164e-01

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_mae,training_deviance
0,,2022-07-19 18:08:47,0.340 sec,0.0,71818.431311,53354.560196,5.157887e+09
1,,2022-07-19 18:08:47,0.356 sec,5.0,58025.779783,40972.504356,3.366991e+09
2,,2022-07-19 18:08:47,0.377 sec,10.0,51416.236448,35149.747364,2.643629e+09
3,,2022-07-19 18:08:47,0.408 sec,15.0,48303.347163,32701.574836,2.333213e+09
4,,2022-07-19 18:08:47,0.424 sec,20.0,46070.229829,31096.148971,2.122466e+09
5,,2022-07-19 18:08:47,0.455 sec,25.0,44933.126675,30344.593596,2.018986e+09
6,,2022-07-19 18:08:47,0.470 sec,30.0,43715.453095,29591.675600,1.911041e+09
7,,2022-07-19 18:08:47,0.492 sec,35.0,42882.867721,28920.379762,1.838940e+09
8,,2022-07-19 18:08:47,0.523 sec,39.0,42373.245223,28572.651773,1.795492e+09

Variable Importances:

,variable,relative_importance,scaled_importance,percentage
0,employee_residence_US,3.677854e+12,1.000000,0.473927
1,experience_level_EX,6.786651e+11,0.184527,0.087453
2,experience_level_SE,5.340485e+11,0.145207,0.068817
3,company_location_US,5.304715e+11,0.144234,0.068356
4,job_title_Data Analyst,3.857216e+11,0.104877,0.049704
5,company_size_M,2.715171e+11,0.073825,0.034988
6,job_title_Data Engineer,2.651291e+11,0.072088,0.034164
7,remote_ratio,2.457747e+11,0.066826,0.031670
8,work_year,2.414231e+11,0.065642,0.031110
9,job_title_Data Scientist,2.338258e+11,0.063577,0.030131
10,experience_level_MI,2.060875e+11,0.056035,0.026556
11,company_size_S,1.889829e+11,0.051384,0.024352
12,employee_residence_CA,5.001726e+10,0.013600,0.006445
13,company_location_IN,4.614477e+10,0.012547,0.005946
14,employee_residence_DE,3.721026e+10,0.010117,0.004795
15,company_location_GB,3.205297e+10,0.008715,0.004130
16,employment_type,2.610892e+10,0.007099,0.003364
17,employee_residence_IN,2.404803e+10,0.006539,0.003099
18,employee_residence_GB,2.303362e+10,0.006263,0.002968
19,company_location_DE,1.988543e+10,0.005407,0.002562

See the whole table with table.as_data_frame()

In [354]:
print('[INFO] Leader board:')

leader_board=automl.leaderboard

leader_board.head()

[INFO] Leader board:

model_id,rmse,mse,mae,rmsle,mean_residual_deviance
GBM_9_AutoML_2_20220719_180844,50743.6,2.57491e+09,34590,0.54828,2.57491e+09
GBM_4_AutoML_1_20220719_180420,50743.6,2.57491e+09,34590,0.54828,2.57491e+09
GBM_grid_1_AutoML_1_20220719_180420_model_13,50847.2,2.58543e+09,34742,0.54593,2.58543e+09
GBM_grid_2_AutoML_2_20220719_180844_model_13,50847.2,2.58543e+09,34742,0.54593,2.58543e+09
GBM_2_AutoML_1_20220719_180420,50910,2.59183e+09,34540.9,nan,2.59183e+09
GBM_7_AutoML_2_20220719_180844,50910,2.59183e+09,34540.9,nan,2.59183e+09
GBM_grid_2_AutoML_2_20220719_180844_model_5,50946.3,2.59552e+09,34507.9,0.552436,2.59552e+09
GBM_grid_1_AutoML_1_20220719_180420_model_5,50946.3,2.59552e+09,34507.9,0.552436,2.59552e+09
GBM_grid_2_AutoML_2_20220719_180844_model_15,50963,2.59723e+09,34513.1,0.550992,2.59723e+09
GBM_grid_1_AutoML_1_20220719_180420_model_15,50963,2.59723e+09,34513.1,0.550992,2.59723e+09

In [365]:
# h2test= h2test.drop('salary_in_usd',axis=1)
h2test= h2test.drop('y',axis=1)

In [366]:
y_pred=automl.leader.predict(h2test)

gbm prediction progress: |███████████████████████████████████████████████████████| (done) 100%

In [369]:
data_as_df = y_pred.as_data_frame()

In [372]:
data_as_df

           predict
0    107386.160209
1    176233.983419
2    103771.603414
3     46510.000669
4     28715.537134
..             ...
102  110117.994761
103  169109.590365
104  163846.463862
105   60026.033535
106  110478.917353

[107 rows x 1 columns]

In [382]:
data_as_df= data_as_df.rename(columns={"predict":"salary_in_usd"})

data_as_df['id']= [i for i in range(len(data_as_df))]

data_as_df = data_as_df[['id', 'salary_in_usd']]

data_as_df.to_csv('data/kaggle_upload/test1_1907.csv', index=False)

In [383]:
data_as_df.head()

   id  salary_in_usd
0   0  107386.160209
1   1  176233.983419
2   2  103771.603414
3   3   46510.000669
4   4   28715.537134

### 3. ENTRENAMIENTO

In [401]:
y=salaries_X.salary_in_usd

In [402]:
X= salaries_X.drop('salary_in_usd',axis=1)

In [404]:
from sklearn.model_selection import train_test_split as tts  # el alias es cosa mia


X_train, X_test, y_train, y_test = tts(X, y, train_size=0.8, test_size=0.2, random_state=0)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((354, 163), (89, 163), (354,), (89,))

In [405]:
from sklearn.linear_model import LinearRegression as LinReg
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.linear_model import ElasticNet


# se inician los modelos
linreg=LinReg()
lasso=Lasso()
ridge=Ridge()
elastic=ElasticNet()

In [406]:
from sklearn.svm import SVR  # support vector regressor

svr=SVR()

In [407]:
from sklearn.ensemble import RandomForestRegressor as RFR  
from sklearn.tree import ExtraTreeRegressor as ETR

rfr=RFR()
etr=ETR()

In [408]:
from sklearn.ensemble import GradientBoostingRegressor as GBR

from xgboost import XGBRegressor as XGBR

from catboost import CatBoostRegressor as CTR

from lightgbm import LGBMRegressor as LGBMR


gbr=GBR()
xgbr=XGBR()
ctr=CTR()
lgbmr=LGBMR()

In [388]:
#ENTRENAMIENTO

In [409]:
# regresion lineal
linreg.fit(X_train, y_train)
lasso.fit(X_train, y_train)
ridge.fit(X_train, y_train)
elastic.fit(X_train, y_train)

ElasticNet()

In [410]:
linreg.coef_   # betas muy muy cercanas a 0

array([-7.00154241e+03,  8.82963325e+00, -7.97143639e+04, -8.43550799e+04,
       -1.05306037e+05,  1.10951062e+05,  2.35820444e+04,  4.33697037e+04,
        1.80627088e+04, -9.55057905e+04,  5.17827393e+04,  2.23945568e+05,
       -7.24170207e+04, -3.49777524e+04, -5.10270765e+04, -7.25155809e+04,
       -1.09265542e+04, -3.70121406e+04,  6.27187546e-09, -6.25861702e+04,
        4.59841585e+04,  2.21904087e+05, -6.21785360e+04,  1.65674664e+04,
       -3.65252938e+04, -4.27068039e+04, -2.13607447e+04, -7.47049303e+04,
       -2.10255105e+04, -2.37998095e+04, -2.32830644e-10, -4.05430290e+03,
        5.13468127e+02, -6.93211499e+04,  2.79690204e+05, -1.10150647e+03,
       -3.17511033e+04, -6.47096816e+04, -3.21555713e+04,  8.67855084e+04,
       -1.36337232e+04, -2.34876500e+04,  7.29966250e+03, -3.94358620e+04,
       -1.57337512e+04,  3.47941544e+04, -5.36147127e-10,  7.11713364e+03,
       -1.99695748e+04, -1.45519152e-11, -1.99259742e+04,  7.27595761e-11,
        3.88631921e+04,  2.91038305e-11,  2.12395139e+04, -2.91038305e-11,
        1.01863407e-10, -1.67325367e+04, -1.45519152e-11, -1.52920005e+04,
        8.54941890e+04, -2.01678763e+05,  2.63082031e+04,  2.79859059e+04,
        1.57575856e+04, -2.93386673e+04, -1.60071068e-10, -9.45874490e-11,
       -3.66570882e+04, -3.79865660e+04,  2.18278728e-11,  2.67160859e+04,
       -2.95038395e+04, -1.71059379e+04,  4.34277896e+03, -5.92652782e+04,
       -1.37096540e+04, -4.57170587e+04,  8.73114914e-11, -1.01863407e-10,
       -3.47701977e+04, -1.28465468e+04,  3.91390594e+04, -4.36557457e-11,
       -4.09091848e+04, -6.96719686e+03, -9.64482518e+03, -3.70045523e+03,
        2.59316857e+03, -1.99178909e+04, -1.50873441e+04,  5.45696821e-12,
       -3.62714776e+04,  1.28752132e+05, -5.45902790e+03, -3.03746724e+04,
       -4.41089782e+04, -5.09317033e-11, -2.10929646e+04, -1.04209595e+04,
        1.65639921e+04, -9.73503082e+04, -2.55075995e+04, -6.59123174e+04,
        4.14970301e+04, -1.09265542e+04, -2.99698021e+04,  0.00000000e+00,
       -3.89232205e+04, -3.08666451e+04,  1.10575058e+05, -2.15922706e+05,
       -1.15651452e+05, -1.67325367e+04,  0.00000000e+00, -1.52920005e+04,
       -1.09532404e+05, -3.49949947e+04,  1.57575856e+04, -2.93386673e+04,
       -9.64482518e+03,  0.00000000e+00, -3.66570882e+04,  1.51593989e+04,
       -1.99695748e+04,  2.67160859e+04, -2.95038395e+04, -2.33367704e+04,
       -4.71780765e+04,  4.86211063e+04,  6.25992082e+03,  0.00000000e+00,
        0.00000000e+00, -3.47701977e+04, -1.28465468e+04,  0.00000000e+00,
       -9.78315159e+04,  0.00000000e+00, -4.09091848e+04,  0.00000000e+00,
       -3.70045523e+03,  2.59316857e+03,  5.26023721e+04, -1.50873441e+04,
        0.00000000e+00, -3.62714776e+04,  0.00000000e+00, -5.45902790e+03,
       -3.03746724e+04, -4.41089782e+04, -6.65821887e+04, -4.97634334e+04,
       -4.99352757e+03,  6.23083255e+03,  0.00000000e+00, -1.09265542e+04,
       -2.99698021e+04, -3.89232205e+04, -3.08666451e+04, -6.27804061e+04,
        1.45843860e+05, -1.71480667e+02, -2.24304162e+04])

In [411]:
lasso.intercept_   # beta cero, ordenada en el origen

14179641.316390397

In [412]:
svr.fit(X_train, y_train)

SVR()

In [413]:
rfr.fit(X_train, y_train)
etr.fit(X_train, y_train)

ExtraTreeRegressor()

In [414]:
# boosting

gbr.fit(X_train, y_train)

GradientBoostingRegressor()

In [415]:
xgbr.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [416]:
ctr.fit(X_train, y_train, verbose=0)

In [417]:
lgbmr.fit(X_train, y_train)

LGBMRegressor()

In [419]:
from sklearn.metrics import mean_squared_error as mse  # error cuadratico medio

In [420]:
y_pred= linreg.predict(X_test)
mse(y_test, y_pred, squared=False)    # RMSE

49912.056395823274

In [421]:
y_pred=rfr.predict(X_test)

mse(y_test, y_pred, squared=False)  # RMSE

44317.389647998105

In [422]:
# svr

y_pred=svr.predict(X_test)

mse(y_test, y_pred, squared=False)  # RMSE

61043.36961385737

In [423]:
# boosting

y_pred=xgbr.predict(X_test)

mse(y_test, y_pred, squared=False)  # RMSE

40319.17087958704

In [424]:
y_pred=ctr.predict(X_test)

mse(y_test, y_pred, squared=False)  # RMSE

40808.770076521185

In [ ]:
MI MODELO ES XGBR.

In [ ]:
volver a entrenar XGBR con X, y

In [427]:
xgbr.fit(X,y)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [437]:
y_pred=xgbr.predict(test_X)

In [439]:
df = pd.DataFrame(y_pred, columns = ['salary_in_usd'])

df['id']= [i for i in range(len(df))]

df = df[['id', 'salary_in_usd']]

df.to_csv('data/kaggle_upload/test2_1907.csv', index=False)

### 4. Model

corr = test.corr()
corr.style.background_gradient(cmap='coolwarm')