# Kaggle Competition

## Import libraries

In [2]:
%matplotlib inline

import pandas as pd
import numpy as np
import warnings
import pylab as plt
import seaborn as sns
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
import kaggle

1. EDA
2. Transformar datos
3. Train test split
    1. Evaluar, calcular RMSE
4. Modelar
5. Reentrenar con todos los datos (salaries, sin train test split)
6. Predicci√≥n y subida
7. Comparar Public Kaggle con los resultados del train test split

## Import data

In [10]:
%cd D:\IRONHACK\labs_projects\Projects\Kaggle-Data-Science-Predictor\data

D:\IRONHACK\labs_projects\Projects\Kaggle-Data-Science-Predictor\data

In [13]:
!kaggle competitions download -c predict-the-salary-for-data-science-jobs

Downloading predict-the-salary-for-data-science-jobs.zip to D:\IRONHACK\labs_projects\Projects\Kaggle-Data-Science-Predictor\data

El sistema no puede encontrar la ruta especificada.

  0%|          | 0.00/7.58k [00:00<?, ?B/s]
100%|##########| 7.58k/7.58k [00:00<00:00, 7.78MB/s]

In [15]:
import shutil
shutil.unpack_archive('predict-the-salary-for-data-science-jobs.zip', 'D:\IRONHACK\labs_projects\Projects\Kaggle-Data-Science-Predictor\data\old_data')

In [19]:
%cd ..

D:\IRONHACK\labs_projects\Projects\Kaggle-Data-Science-Predictor

### 1. EDA

- salaries_data.csv

 + se puede borrar columnas, filas, etc
 + entrenar (X/Y)
 + x train / x split

- test.csv

 + NO se borran **FILAS**

In [3]:
salaries= pd.read_csv('data/old_data/salaries_data.csv')
test = pd.read_csv('data/old_data/test.csv')

### Salaries

In [101]:
salaries.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250,USD,140250,US,100,US,M
1,2022,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000,USD,100000,US,100,US,M
3,2021,MI,CT,ML Engineer,270000,USD,270000,US,100,US,L
4,2021,MI,FT,Data Engineer,22000,EUR,26005,RO,0,US,L

In [102]:
salaries.shape

(500, 11)

In [110]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           500 non-null    int64
 1   experience_level    500 non-null    object
 2   employment_type     500 non-null    object
 3   job_title           500 non-null    object
 4   salary              500 non-null    int64
 5   salary_currency     500 non-null    object
 6   salary_in_usd       500 non-null    int64
 7   employee_residence  500 non-null    object
 8   remote_ratio        500 non-null    int64
 9   company_location    500 non-null    object
 10  company_size        500 non-null    object
dtypes: int64(4), object(7)
memory usage: 43.1+ KB

In [109]:
salaries.work_year.value_counts()

2022    263
2021    181
2020     56
Name: work_year, dtype: int64

In [111]:
salaries.experience_level.value_counts()

SE    243
MI    172
EN     65
EX     20
Name: experience_level, dtype: int64

In [112]:
salaries.employment_type.value_counts()

FT    484
PT      8
CT      4
FL      4
Name: employment_type, dtype: int64

In [113]:
salaries.salary_currency.value_counts()

USD    329
EUR     78
GBP     38
INR     23
CAD     16
JPY      3
TRY      3
AUD      2
PLN      2
MXN      1
CHF      1
CLP      1
BRL      1
HUF      1
SGD      1
Name: salary_currency, dtype: int64

In [114]:
salaries.remote_ratio.value_counts()

100    320
0      102
50      78
Name: remote_ratio, dtype: int64

In [115]:
salaries.company_location.value_counts()

US    296
GB     41
CA     25
DE     23
IN     19
FR     12
ES     12
GR     10
JP      4
NL      4
PT      4
LU      3
AE      3
AT      3
PL      3
PK      3
TR      3
CH      2
AU      2
BR      2
NG      2
SI      2
BE      2
MT      1
IR      1
DZ      1
HU      1
CZ      1
HN      1
RO      1
CL      1
EE      1
UA      1
NZ      1
DK      1
CN      1
KE      1
VN      1
MX      1
IE      1
AS      1
MD      1
SG      1
Name: company_location, dtype: int64

In [116]:
salaries.company_size.value_counts()

M    273
L    165
S     62
Name: company_size, dtype: int64

In [117]:
duplicate = salaries[salaries.duplicated()]
duplicate

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
41,2022,SE,FT,Data Scientist,140000,USD,140000,US,100,US,M
133,2022,SE,FT,Data Scientist,140000,USD,140000,US,100,US,M
143,2022,SE,FT,Data Analyst,90320,USD,90320,US,100,US,M
153,2022,SE,FT,Data Analyst,61300,USD,61300,CA,100,CA,M
165,2022,SE,FT,Data Scientist,140000,USD,140000,US,100,US,M
169,2022,SE,FT,Data Engineer,130000,USD,130000,US,100,US,M
196,2022,SE,FT,Data Analyst,99000,USD,99000,US,0,US,M
211,2022,SE,FT,Data Scientist,123000,USD,123000,US,100,US,M
225,2022,SE,FT,Data Engineer,209100,USD,209100,US,100,US,L
227,2022,SE,FT,Data Analyst,130000,USD,130000,CA,100,CA,M
254,2022,SE,FT,Data Analyst,90320,USD,90320,US,100,US,M
270,2022,SE,FT,Data Engineer,165400,USD,165400,US,100,US,M
271,2022,SE,FT,Data Analyst,90320,USD,90320,US,100,US,M
272,2022,MI,FT,Data Engineer,60000,GBP,78526,GB,100,GB,M
276,2022,SE,FT,Data Analyst,90320,USD,90320,US,100,US,M
277,2022,SE,FT,Data Engineer,155000,USD,155000,US,100,US,M
328,2022,SE,FT,Data Analyst,135000,USD,135000,US,100,US,M
337,2022,SE,FT,Data Scientist,123000,USD,123000,US,100,US,M
349,2022,SE,FT,Data Analyst,112900,USD,112900,US,100,US,M
365,2022,SE,FT,Data Scientist,210000,USD,210000,US,100,US,M
371,2022,SE,FT,Machine Learning Engineer,189650,USD,189650,US,0,US,M
398,2022,SE,FT,Data Scientist,140400,USD,140400,US,0,US,L
403,2022,SE,FT,Data Scientist,140000,USD,140000,US,100,US,M
410,2022,SE,FT,Data Engineer,160000,USD,160000,US,100,US,M
413,2022,MI,FT,ETL Developer,50000,EUR,54957,GR,0,GR,M
434,2022,SE,FT,Data Scientist,210000,USD,210000,US,100,US,M
438,2022,SE,FT,Data Analyst,170000,USD,170000,US,100,US,M
447,2022,SE,FT,Data Scientist,210000,USD,210000,US,100,US,M
478,2022,SE,FT,Data Analyst,100000,USD,100000,US,100,US,M
480,2022,SE,FT,Data Analyst,112900,USD,112900,US,100,US,M
485,2021,MI,FT,Data Scientist,76760,EUR,90734,DE,50,DE,L
487,2021,MI,FT,Data Engineer,200000,USD,200000,US,100,US,L
488,2022,SE,FT,Data Scientist,140000,USD,140000,US,100,US,M
495,2022,SE,FT,Data Engineer,100000,USD,100000,US,100,US,M

In [118]:
salaries.drop_duplicates(keep=False,inplace=True)

In [119]:
nan_cols=salaries.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

+ Se quitan los duplicados
+ No hay nulos
+ SOLO HAY QUE SELECCIONAR LOS QUE SEAN SALARY USD

In [122]:
salaries = salaries[salaries['salary_currency']=='USD']

In [124]:
salaries.shape

(278, 11)

In [129]:
salaries.to_csv(path_or_buf='data/model_data/salaries_USD.csv', sep=',')

In [137]:
salaries.work_year.value_counts()

2022    155
2021     94
2020     29
Name: work_year, dtype: int64

In [151]:
salaries.job_title.value_counts()

Data Scientist                        61
Data Engineer                         56
Data Analyst                          48
Machine Learning Engineer             15
Data Science Manager                  10
Data Architect                         8
Machine Learning Scientist             7
Data Analytics Manager                 7
BI Data Analyst                        5
Research Scientist                     5
Lead Data Engineer                     4
AI Scientist                           4
Applied Machine Learning Scientist     3
Principal Data Scientist               3
Data Engineering Manager               3
Analytics Engineer                     3
Director of Data Science               3
Computer Vision Engineer               3
Big Data Engineer                      3
Applied Data Scientist                 3
Head of Data                           2
Business Data Analyst                  2
Data Analytics Engineer                2
Data Science Consultant                2
Head of Data Science                   2
Lead Data Scientist                    2
ML Engineer                            2
Lead Data Analyst                      1
Cloud Data Engineer                    1
Principal Data Analyst                 1
Product Data Analyst                   1
Data Specialist                        1
Data Analytics Lead                    1
Financial Data Analyst                 1
Director of Data Engineering           1
Staff Data Scientist                   1
Computer Vision Software Engineer      1
Name: job_title, dtype: int64

In [138]:
salaries.experience_level.value_counts()

SE    152
MI     80
EN     33
EX     13
Name: experience_level, dtype: int64

In [139]:
salaries.employment_type.value_counts()

FT    267
CT      4
FL      4
PT      3
Name: employment_type, dtype: int64

In [140]:
salaries.salary_currency.value_counts()

USD    278
Name: salary_currency, dtype: int64

In [141]:
salaries.remote_ratio.value_counts()

100    201
0       57
50      20
Name: remote_ratio, dtype: int64

In [142]:
salaries.company_location.value_counts()

US    246
CA      5
AE      3
PK      3
NG      2
VN      1
IR      1
GB      1
BR      1
RO      1
JP      1
NL      1
HN      1
FR      1
DZ      1
KE      1
CZ      1
MD      1
LU      1
UA      1
NZ      1
CN      1
ES      1
GR      1
Name: company_location, dtype: int64

In [11]:
salaries_train = salaries[salaries['salary_currency']!='USD']

In [12]:
salaries_train.to_csv(path_or_buf='data/model_data/salaries_Train.csv', sep=',')

In [13]:
salaries_train.shape

(171, 11)

In [15]:
salaries_train.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

------------------------------------------

### Test Data

In [130]:
test.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,employee_residence,remote_ratio,company_location,company_size
0,2020,SE,FT,Machine Learning Scientist,260000,USD,JP,0,JP,S
1,2020,MI,FT,Lead Data Analyst,87000,USD,US,100,US,L
2,2020,MI,FT,Data Analyst,85000,USD,US,100,US,L
3,2020,MI,FT,Machine Learning Engineer,299000,CNY,CN,0,CN,M
4,2020,MI,FT,Product Data Analyst,450000,INR,IN,100,IN,L

In [131]:
test.shape

(107, 10)

In [132]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           107 non-null    int64
 1   experience_level    107 non-null    object
 2   employment_type     107 non-null    object
 3   job_title           107 non-null    object
 4   salary              107 non-null    int64
 5   salary_currency     107 non-null    object
 6   employee_residence  107 non-null    object
 7   remote_ratio        107 non-null    int64
 8   company_location    107 non-null    object
 9   company_size        107 non-null    object
dtypes: int64(3), object(7)
memory usage: 8.5+ KB

In [133]:
nan_cols=test.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [134]:
test.work_year.value_counts()

2022    55
2021    36
2020    16
Name: work_year, dtype: int64

In [135]:
test.experience_level.value_counts()

MI    41
SE    37
EN    23
EX     6
Name: experience_level, dtype: int64

In [136]:
test.employment_type.value_counts()

FT    104
PT      2
CT      1
Name: employment_type, dtype: int64

In [144]:
test.job_title.value_counts()

Data Scientist                              22
Data Engineer                               21
Data Analyst                                16
Machine Learning Engineer                   10
Research Scientist                           4
Data Architect                               3
Principal Data Engineer                      3
Computer Vision Software Engineer            2
Head of Data Science                         2
Computer Vision Engineer                     2
Data Science Consultant                      2
Data Analytics Engineer                      2
AI Scientist                                 2
Applied Machine Learning Scientist           1
Financial Data Analyst                       1
Business Data Analyst                        1
NLP Engineer                                 1
Principal Data Analyst                       1
Data Science Engineer                        1
Machine Learning Scientist                   1
Machine Learning Developer                   1
Big Data Engineer                            1
Machine Learning Infrastructure Engineer     1
Head of Data                                 1
Principal Data Scientist                     1
Lead Data Analyst                            1
BI Data Analyst                              1
Product Data Analyst                         1
Analytics Engineer                           1
Name: job_title, dtype: int64

In [146]:
test.salary_currency.value_counts()

USD    69
EUR    17
GBP     6
INR     4
CNY     2
DKK     2
CAD     2
MXN     1
HUF     1
SGD     1
BRL     1
PLN     1
Name: salary_currency, dtype: int64

In [148]:
test.remote_ratio.value_counts()

100    61
0      25
50     21
Name: remote_ratio, dtype: int64

In [149]:
test.company_location.value_counts()

US    59
GB     6
IN     5
DE     5
CA     5
FR     3
JP     2
ES     2
MX     2
DK     2
IT     2
RU     2
CZ     1
PL     1
BR     1
MY     1
GR     1
IQ     1
AT     1
CO     1
IL     1
HR     1
CN     1
AU     1
Name: company_location, dtype: int64

In [150]:
test.company_size.value_counts()

M    53
L    33
S    21
Name: company_size, dtype: int64

In [4]:
test_USD = test[test['salary_currency']=='USD']

In [5]:
test_USD.to_csv(path_or_buf='data/model_data/test_USD.csv', sep=',')

In [6]:
test_USD.shape

(69, 10)

In [7]:
test_test = test[test['salary_currency']!='USD']

In [8]:
test_test.to_csv(path_or_buf='data/model_data/test_Train.csv', sep=',')

In [10]:
test_test.shape

(38, 10)

## Comparar Value_counts entre datasets

In [16]:
salaries_train.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [17]:
test_test.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'employee_residence', 'remote_ratio',
       'company_location', 'company_size'],
      dtype='object')

In [159]:
salaries['employment_type_test'] = test['employment_type'] #add the price_2 column from df2 to df1
salaries['employment_type_match'] = np.where(salaries['employment_type'].values == test['employment_type'].values, 'True', 'False') #create a new column in df1 to check if prices match

In [162]:
salaries[['employment_type','employment_type_match']]

    employment_type employment_type_match
0                FT                 False
1                FT                 False
2                FT                 False
3               NaN                 False
5               NaN                 False
11               FT                 False
12               FT                 False
15              NaN                 False
17               FT                 False
19              NaN                 False
21              NaN                 False
22              NaN                 False
23               FT                 False
24               FT                 False
26               FT                 False
27               FT                 False
28              NaN                 False
33               FT                 False
35              NaN                 False
36               FT                 False
45               FT                 False
46               FT                 False
47              NaN                 False
49               FT                 False
50               FT                 False
52               FT                 False
55              NaN                 False
56               FT                 False
58               FT                 False
60               FT                 False
61               FT                 False
63               FT                 False
64               FT                 False
65               FT                 False
70               FT                 False
72               FT                 False
73              NaN                 False
75               FT                 False
78               FT                 False
80              NaN                 False
81              NaN                 False
82               FT                 False
84               FT                 False
85              NaN                 False
86              NaN                 False
87               FT                 False
88               FT                 False
92              NaN                 False
93               FT                 False
94               FT                 False
96               FT                 False
99               FT                 False
102              FT                 False
103              FT                 False
104              FT                 False
105              FT                 False
106              FT                 False
107             NaN                 False
108             NaN                 False
112             NaN                 False
113             NaN                 False
117             NaN                 False
118             NaN                 False
119             NaN                 False
120             NaN                 False
121             NaN                 False
122             NaN                 False
124             NaN                 False
125             NaN                 False
126             NaN                 False
128             NaN                 False
129             NaN                 False
130             NaN                 False
132             NaN                 False
134             NaN                 False
135             NaN                 False
136             NaN                 False
139             NaN                 False
140             NaN                 False
141             NaN                 False
142             NaN                 False
144             NaN                 False
147             NaN                 False
149             NaN                 False
151             NaN                 False
154             NaN                 False
155             NaN                 False
158             NaN                 False
159             NaN                 False
160             NaN                 False
166             NaN                 False
167             NaN                 False
168             NaN                 False
170             NaN                 False
171             NaN                 False
173             NaN                 False
175             NaN                 False
176             NaN                 False
177             NaN                 False
179             NaN                 False
180             NaN                 False
181             NaN                 False
182             NaN                 False
183             NaN                 False
184             NaN                 False
187             NaN                 False
192             NaN                 False
195             NaN                 False
198             NaN                 False
199             NaN                 False
200             NaN                 False
203             NaN                 False
204             NaN                 False
205             NaN                 False
209             NaN                 False
210             NaN                 False
212             NaN                 False
213             NaN                 False
215             NaN                 False
216             NaN                 False
217             NaN                 False
220             NaN                 False
221             NaN                 False
224             NaN                 False
228             NaN                 False
231             NaN                 False
234             NaN                 False
235             NaN                 False
237             NaN                 False
238             NaN                 False
241             NaN                 False
242             NaN                 False
244             NaN                 False
245             NaN                 False
247             NaN                 False
250             NaN                 False
251             NaN                 False
252             NaN                 False
253             NaN                 False
256             NaN                 False
257             NaN                 False
262             NaN                 False
263             NaN                 False
264             NaN                 False
265             NaN                 False
266             NaN                 False
273             NaN                 False
279             NaN                 False
281             NaN                 False
282             NaN                 False
283             NaN                 False
284             NaN                 False
285             NaN                 False
286             NaN                 False
288             NaN                 False
289             NaN                 False
290             NaN                 False
294             NaN                 False
295             NaN                 False
297             NaN                 False
298             NaN                 False
299             NaN                 False
304             NaN                 False
306             NaN                 False
307             NaN                 False
308             NaN                 False
309             NaN                 False
311             NaN                 False
312             NaN                 False
315             NaN                 False
316             NaN                 False
317             NaN                 False
318             NaN                 False
320             NaN                 False
322             NaN                 False
324             NaN                 False
326             NaN                 False
327             NaN                 False
329             NaN                 False
330             NaN                 False
331             NaN                 False
332             NaN                 False
333             NaN                 False
334             NaN                 False
335             NaN                 False
338             NaN                 False
339             NaN                 False
341             NaN                 False
342             NaN                 False
345             NaN                 False
346             NaN                 False
347             NaN                 False
348             NaN                 False
350             NaN                 False
352             NaN                 False
354             NaN                 False
355             NaN                 False
357             NaN                 False
358             NaN                 False
359             NaN                 False
360             NaN                 False
361             NaN                 False
362             NaN                 False
363             NaN                 False
366             NaN                 False
367             NaN                 False
369             NaN                 False
370             NaN                 False
372             NaN                 False
374             NaN                 False
375             NaN                 False
376             NaN                 False
379             NaN                 False
381             NaN                 False
383             NaN                 False
384             NaN                 False
385             NaN                 False
386             NaN                 False
387             NaN                 False
389             NaN                 False
391             NaN                 False
393             NaN                 False
396             NaN                 False
397             NaN                 False
399             NaN                 False
400             NaN                 False
404             NaN                 False
405             NaN                 False
407             NaN                 False
411             NaN                 False
412             NaN                 False
415             NaN                 False
416             NaN                 False
417             NaN                 False
418             NaN                 False
421             NaN                 False
425             NaN                 False
426             NaN                 False
427             NaN                 False
428             NaN                 False
429             NaN                 False
430             NaN                 False
431             NaN                 False
433             NaN                 False
436             NaN                 False
440             NaN                 False
441             NaN                 False
442             NaN                 False
443             NaN                 False
445             NaN                 False
449             NaN                 False
451             NaN                 False
453             NaN                 False
454             NaN                 False
455             NaN                 False
456             NaN                 False
459             NaN                 False
460             NaN                 False
461             NaN                 False
463             NaN                 False
466             NaN                 False
468             NaN                 False
470             NaN                 False
471             NaN                 False
472             NaN                 False
473             NaN                 False
475             NaN                 False
477             NaN                 False
479             NaN                 False
482             NaN                 False
484             NaN                 False
486             NaN                 False
489             NaN                 False
491             NaN                 False
493             NaN                 False
494             NaN                 False
497             NaN                 False
499             NaN                 False

corr = test.corr()
corr.style.background_gradient(cmap='coolwarm')

# TEST MODEL WITH NUMERIC DATA

In [77]:
!pip install h2o

Collecting h2o
  Downloading h2o-3.36.1.3.tar.gz (177.0 MB)
     -------------------------------------- 177.0/177.0 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: requests in d:\programas\miniconda3\envs\kaggle\lib\site-packages (from h2o) (2.28.1)
Collecting tabulate
  Downloading tabulate-0.8.10-py3-none-any.whl (29 kB)
Collecting future
  Using cached future-0.18.2.tar.gz (829 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: certifi>=2017.4.17 in d:\programas\miniconda3\envs\kaggle\lib\site-packages (from requests->h2o) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\programas\miniconda3\envs\kaggle\lib\site-packages (from requests->h2o) (1.26.9)
Requirement already satisfied: charset-normalizer<3,>=2 in d:\programas\miniconda3\envs\kaggle\lib\site-packages (from requests->h2o) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in d:\programas\miniconda3\envs\kaggle\lib\site-packages (from requests->h2o) (3.3)
Building wheels for collected packages: h2o, future
  Building wheel for h2o (setup.py): started
  Building wheel for h2o (setup.py): finished with status 'done'
  Created wheel for h2o: filename=h2o-3.36.1.3-py2.py3-none-any.whl size=177103819 sha256=377f62bacdcc83f4bdc6ac357ddcda31485d0b6711a7d5d0c73a0763a0826184
  Stored in directory: c:\users\irene aguerri\appdata\local\pip\cache\wheels\c8\f4\37\524d394a841d37aaff472a79755211acceca66d3d5621c9727
  Building wheel for future (setup.py): started
  Building wheel for future (setup.py): finished with status 'done'
  Created wheel for future: filename=future-0.18.2-py3-none-any.whl size=491070 sha256=a87edbfc450a3b583e57440f62c9ce5b4664907a73e890eba63b6af482ced199
  Stored in directory: c:\users\irene aguerri\appdata\local\pip\cache\wheels\22\73\06\557dc4f4ef68179b9d763930d6eec26b88ed7c389b19588a1c
Successfully built h2o future
Installing collected packages: tabulate, future, h2o
Successfully installed future-0.18.2 h2o-3.36.1.3 tabulate-0.8.10

El sistema no puede encontrar la ruta especificada.

In [75]:
numericos = salaries._get_numeric_data()

In [76]:
numericos.head()

   work_year  salary  salary_in_usd  remote_ratio
0       2022  140250         140250           100
1       2022  135000         135000           100
2       2021  100000         100000           100
3       2021  270000         270000           100
4       2021   22000          26005             0

In [ ]:
X_train = numericos.drop()

In [ ]:
from sklearn.model_selection import train_test_split as tts  # el alias es cosa mia


X_train, X_test, y_train, y_test = tts(X, y, train_size=0.8, test_size=0.2, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

### 2. Transform data

### 3. Train test split

### 4. Model